@charset "UTF-8";

ul#menu-horizontal {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

ul#menu-horizontal li {
  list-style: none;
  margin: auto;
  width: max-content;
}

@media screen and (max-width: 768px) {
    ul#menu-horizontal {
      margin-left: auto;
      margin-right: auto;	
      display: block;
      width: max-content;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 20px 20px;
         grid-template-areas:
        ". ."
        ". ."
        ". .";
    }
  }

.title {
    font-size: 0.9rem;
  }
  
  @media screen and (max-width: 768px) {
    .title {
        font-size: 1rem;
    }
  }

  