<head>

  <html translate="no">

  <!-- Prefetching DNS -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net/">
  <link rel="dns-prefetch" href="https://unpkg.com/">
  <link rel="dns-prefetch" href="https://polyfill.io/">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
  <link rel="dns-prefetch" href="https://identity.netlify.com">

  <!-- Preconnect domains dependencies -->
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>
  <link rel="preconnect" href="https://unpkg.com/" crossorigin>
  <link rel="preconnect" href="https://polyfill.io/" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
  <link rel="preconnect" href="https://identity.netlify.com/" crossorigin>

  <script src="https://cdn.jsdelivr.net/gh/lamtonylam/GlowCookies@master/src/glowCookies.min.js"></script>
  <script>
    glowCookies.start('en', {
      style: 1,
      hideAfterClick: true,
      policyLink: '/privacy',
      customScript: [{
        type: 'custom', position: 'head', content: `(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5LGSQ2B');` }],
      bannerDescription: 'Voit joko hyväksyä tai kieltää ei pakollisten evästeiden käytön. <br> <br> Näitä ovat esimerkiksi analytiikan evästeet. Sivuston optimaalisen toiminnan- ja käyttäjäkokemuksen takaamiseksi.  <br> <br>',
      bannerLinkText: ' Lue lisää evästeistä tietosuojakäytännössä',
      bannerHeading: 'Käytämme evästeitä',
      acceptBtnText: 'Hyväksyn!',
      acceptBtnBackground: '#1F45FC',
      rejectBtnText: 'En hyväksy.',
      manageText: 'Evästeasetukset',
    });
  </script>


  <!-- Include quicklink from dist -->
  <script src="https://unpkg.com/quicklink@2.1.0/dist/quicklink.umd.js"></script>
  <!-- Initialize (you can do this whenever you want) -->
  <script>
    quicklink.listen();
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>


</head>