  <html translate="no">

  <!-- Prefetching DNS -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net/">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">

  <!-- Preconnect domains dependencies -->
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
  
  <!-- GTM analytics -->
  <script  type="text/plain" data-cookiecategory="analytics">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KFJL233');
  </script>

  <!-- GTM marketing -->
  <script type="text/plain" data-cookiecategory="marketing">
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5LGSQ2B');
  </script>

  <!-- Cookie manager fix scrollbar -->
  <style>
    html,
    body{
        height: auto!important;
        width: 100vw!important;
        overflow-x: hidden!important;
    }
</style>

<!-- Iframe manager css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/iframemanager@master/dist/iframemanager.css">

<body>

    
    <script>
        document.body.classList.toggle('c_darkmode');
    </script>

  <script src="https://cdn.jsdelivr.net/gh/orestbida/iframemanager@master/dist/iframemanager.js" defer></script>
  <script src="/keksi.js"></script>

  <script>
    window.addEventListener('load', function(){

    var cookieconsent = initCookieConsent();

    cookieconsent.run({
        current_lang : 'en',
        force_consent : true,
        theme_css : '/keksi.css',
        page_scripts: true,
        remove_cookie_tables: true,
        autoclear_cookies: true,

        onAccept : function(){
            console.log("Okei!");
        },

        onChange: function(){
            console.log("Vaihdettu!");
        },
            		
        gui_options: {
        consent_modal : {
            layout : 'cloud',               // box/cloud/bar
            position : 'bottom center',     // bottom/top + left/right/center
            transition: 'slide'             // zoom/slide
        },
        settings_modal : {
            layout : 'box',                 // box/bar
            // position : 'left',           // left/right
            transition: 'slide'             // zoom/slide
        },
    },
        languages : {
            en : {
                consent_modal : {
                    title :  "Käytämme evästeitä!",
                    description :  'Evästeiden avulla voimme tarjota sinulle paremman käyttökokemuksen ja henkilökohtaisemman palvelun. Kun hyväksyt evästeet, voimme kehittää palveluistamme entistä parempia ja pystymme tarjoamaan sinulle kiinnostavaa sisältöä. <br><br> Evästeet ovat esimerkiksi analytiikan-, markkinoinnin-, tai toiminnallisuuden evästeet. <br><br> Valitsemalla "OK", hyväksyt kaikki evästeet. Valitsemalla "Evästeasetukset" voit tehdä tarkempia valintoja suostumuksiin tai saada lisää tietoa evästeistä sekä sivustolla käytetyistä palveluista. Voit aina halutessasi muuttaa valintojasi, kuten peruuttaa suostumuksen, valitsemalla sivun pohjalta "Muokkaa evästeasetuksia".',
                    primary_btn: {
                        text: 'OK',
                        role: 'accept_all'  //'accept_selected' or 'accept_all'
                    },
                    secondary_btn: {
                        text : 'Evästeasetukset',
                        role : 'settings'   //'settings' or 'accept_necessary'
                    }
                },
                settings_modal : {
                    title : 'Cookie settings',
                    save_settings_btn : "Tallenna asetukset",
                    accept_all_btn : "Hyväksy kaikki",
                    reject_all_btn : "Kiellä kaikki", // optional, [v.2.5.0 +]
                    close_btn_label: "Close",   
                    cookie_table_headers : [
					{col1: "Name" }, 
					{col2: "Domain" }, 
					{col3: "Expiration" }, 
                    {col4: "Description" }
				],
                    blocks : [
                        {
                            title : "Evästeasetukset",
                            description: ''
                        },{
                            title : "Tarpeelliset evästeet",
                            description: 'Sivuston toiminnalta välttämättömät evästeet. Nämä ovat aina päällä. <br><br>Palvelut: <br> Cloudflare, Utteranc.es commenting, Airtable, Google Recaptcha v2',
                            toggle : {
                                value : 'necessary',
                                enabled : true,
                                readonly: true
                            }
                        },{
                            title : "Analytiikan evästeet",
                            description: 'Analytiikkaan. Jotta voimme paremmin ymmärtää sivustoamme. <br><br>Palvelut: <br>Google Analytics, Microsoft Clarity, Statcounter, Cloudflare',
                            toggle : {
                                value : 'analytics',
                                enabled : false,
                                readonly: false
                            
                        },
                            cookie_table: [
							{
								col1: '_ga',
								col2: 'google.com',
								col3: '2 years',
								col4: 'Used to distinguish users.' ,
							},
							{
								col1: '_ga_<container-id>',
								col2: 'google.com',
								col3: '2 years',
								col4: 'Used to persist session state.' ,
							},
							{
								col1: '_gid',
								col2: 'google.com',
								col3: '1 day',
								col4: 'Used to distinguish users.' ,
							},
							{
								col1: 'is_unique',
								col2: 'google.com',
								col3: '5 years',
								col4: 'This holds data on your visits to websites which use StatCounter. We solely use it to determine whether you are a first-time or returning visitor on each website and to estimate your accumulated unique visits per site. No personal information is stored in the cookie.' ,
							},
							{
								col1: 'sc_is_visitor_unique',
								col2: 'statcounter.com',
								col3: '2 years',
								col4: 'This cookie is set by the website that you visit. When it is first set, a random id is generated and stored in the cookie in order to avoid counting you as a visitor more than once (e.g. if you are on a mobile device and your IP address changes while you browse). Similarly to the is_unique cookie, this cookie also stores a count of your returning visits.' ,
							},
							{
								col1: '_clck and _clsk',
								col2: 'https://clarity.microsoft.com/',
								col4: 'Persists the Clarity User ID and preferences, unique to that site, on the browser. This ensures that behavior in subsequent visits to the same site will be attributed to the same user ID. Connects multiple page views by a user into a single Clarity session recording.' ,
							},
						] 					
                    },{
                            title : "Markkinoinnin evästeet.",
                            description: 'Markkinointiin liityvät. <br><br>Palvelut: <br>Leadfeeder, Hubspot, Clearbit, Leadinfo',
                            toggle : {
                                value : 'marketing',
                                enabled : false,
                                readonly: false
                            
                        },
                            cookie_table: [
							{
								col1: '_lfa',
								col2: 'leadfeeder.com',
								col3: '2 years',
								col4: 'The Tracker cookie is set for the website domain only and is used to set a unique identifier to separate different visitors. The cookie is called _lfa and has a two-year expiry date from when it is first set. Leadfeeder does not use any 3rd party cookies.' ,
							},
							{
								col1: '__hstc',
								col2: 'hubspot.com',
								col3: '13 months',
								col4: 'It contains the domain, utk, initial timestamp (first visit), last timestamp (last visit), current timestamp (this visit), and session number (increments for each subsequent session).' ,
							},
							{
								col1: '__hssc',
								col2: 'hubspot.com',
								col3: '13 months',
								col4: 'This cookie keeps track of a visitor identity. It is passed to HubSpot on form submission and used when deduplicating contacts.' ,
							}
						] 					
                        },{
                        title: "EU:n GDPR-laki koskien tietosuojaa ja evästeitä:",
                        description: 'OPKH:n sivusto noudattaa EU:n asettamia lakeja koskien yksityishenkilöiden yksityisyyttä. ',
                    },{
						title : "Kysyttävää?",
						description: 'Kaikkeen yksityisyyteen tai evästeisiin liittyvissä yhteydenotoissa voit ottaa yhteyttä: <a class="cc-link" href="mailto:privacy@opkh.fi">privacy@opkh.fi</a>.',
					}
                    ]
                }
            }
        }
          

    });
})
    </script>
</body>
