<meta name="google" content="notranslate">

  <!-- Prefetching DNS -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://cdn.panelbear.com">
  <link rel="dns-prefetch" href="https://scripts.simpleanalyticscdn.com">
  <link rel="dns-prefetch" href="https://static.cloudflareinsights.com">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://www.google.com">
  <link rel="dns-prefetch" href="https://www.gstatic.com">




  <!-- Preconnect domains dependencies -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://ajax.googleapis.com" crossorigin>
  <link rel="dns-prefetch" href="https://cdn.panelbear.com" crossorigin>
  <link rel="dns-prefetch" href="https://scripts.simpleanalyticscdn.com" crossorigin>
  <link rel="dns-prefetch" href="https://static.cloudflareinsights.com" crossorigin>
  <link rel="dns-prefetch" href="https://static.cloudflareinsights.com" crossorigin>
  <link rel="dns-prefetch" href="https://identity.netlify.com" crossorigin>
  <link rel="dns-prefetch" href="https://maps.googleapis.com" crossorigin>
  <link rel="dns-prefetch" href="https://www.google.com" crossorigin>
  <link rel="dns-prefetch" href="https://www.gstatic.com" crossorigin>

  
  <!-- GTM analytics -->
  <script  type="text/plain" data-cookiecategory="analytics">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KFJL233');
  </script>

  <!-- GTM marketing -->
  <script type="text/plain" data-cookiecategory="marketing">
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5LGSQ2B');
  </script>


<!-- Iframe manager css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/iframemanager@master/dist/iframemanager.css">
  <script src="https://cdn.jsdelivr.net/gh/orestbida/iframemanager@master/dist/iframemanager.js" defer></script>

  <script src="/keksi.js"></script>


