<footer class="site-footer">



<script>
  window.addEventListener('load', function(){
      
      var manager = iframemanager();
      
      // Example with youtube embed
      manager.run({
          currLang: 'en',
          services : {
              youtube : {
                  embedUrl: 'https://www.youtube-nocookie.com/embed/{data-id}',
                  thumbnailUrl: 'https://i3.ytimg.com/vi/{data-id}/hqdefault.jpg',
                  iframe : {
                      allow : 'accelerometer; encrypted-media; gyroscope; picture-in-picture; fullscreen;',
                  },
                  cookie : {
                      name : 'cc_youtube'
                  },
                  languages : {
                      en : {
                          notice: 'This content is hosted by a third party. By showing the external content you accept the <a rel="noreferrer" href="https://www.youtube.com/t/terms" title="Terms and conditions" target="_blank">terms and conditions</a> of youtube.com.',
                          loadBtn: 'Load video',
                          loadAllBtn: 'Don\'t ask again'
                      }
                  }
              }
          }
      });
  });
</script>


  <center>

  {{/* Display copyright license. */}}
  {{ partial "site_footer_license" . }}


  <ul id="menu-horizontal" class="site-footer powered-by">
    <li class="title"><a href="/#posts"><i class="fas fa-newspaper"></i>&nbsp;Uutiset</a></li>
    <li class="title"><a href="/people/"><i class="fas fa-users"></i>&nbsp;Tiimi</a></li>
    <li class="title"><a href="/radio/"><i class="fas fa-music"></i></i>&nbsp;Helluradio</a></li>
    <li class="title"><a href="/event/"><i class="fas fa-calendar-alt"></i>&nbsp;Tapahtumat</a></li>
    <li class="title"><a href="/meista/"><i class="fas fa-info-circle"></i>&nbsp;Meistä</a></li>
    <li class="title"><a href="/#contact"><i class="fas fa-paper-plane"></i>&nbsp;Ota yhteyttä</a></li>
    </ul>



    {{ with site.Copyright }}
    <div class="br"></div>
    <div class="br"></div>
    <p class="powered-by">
      {{ replace . "{year}" now.Year | markdownify }}
    </p>
    {{ end }}


  <p class="powered-by">

    
    
    Sivun tehnyt:
    <a href="https://linkedin.com/in/lamtonylam/" target="_blank" rel="noopener">Tony Lam</a>
    
    
    
    <div class="powered-by"><a href="/legal/" target="_self" rel="noopener">Lakisääteiset dokumentit</a></div>

    <div class="br"></div>
    <img src="https://api.thegreenwebfoundation.org/greencheckimage/opkh.fi?nocache=true/" alt="This website is hosted Green - checked by thegreenwebfoundation.org">
    
    <div class="br"></div>
    <a class="typeform-share button" href="/palaute/" style="display:inline-block;text-decoration:none;background-color:#54B172;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_self" rel="noopener" >Anna palautetta </a>
    <div class="br"></div>

</center>


</p>

<div align="center">
<button type="button" class="btn btn-outline-primary" aria-label="View cookie settings" data-cc="c-settings">Muokkaa evästeasetuksia</button>
</div>
<div class="br"></div>
</footer>