<footer class="site-footer">


  
  <script src="https://cdn.jsdelivr.net/gh/orestbida/iframemanager@v1.0/dist/iframemanager.js" defer></script>
  <script src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@master/dist/cookieconsent.js"></script>
  <script>
    var cookieconsent = initCookieConsent();

    cookieconsent.run({
        current_lang : 'en',
        theme_css : 'https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@master/dist/cookieconsent.css',
    
        page_scripts: true,

        onAccept : function(){
            // do something ...
        },
            		
        gui_options: {
        consent_modal : {
            layout : 'cloud',               // box/cloud/bar
            position : 'bottom center',     // bottom/top + left/right/center
            transition: 'slide'             // zoom/slide
        },
        settings_modal : {
            layout : 'box',                 // box/bar
            // position : 'left',           // left/right
            transition: 'slide'             // zoom/slide
        },
    },
        languages : {
            en : {
                consent_modal : {
                    title :  "Käytämme evästeitä!",
                    description :  '<br> Voit joko hyväksyä tai kieltää ei pakollisten evästeiden käytön. <br> <br> Näitä ovat esimerkiksi analytiikan-, markkinoinnin-, tai toiminnallisuutta parantavat evästeet. <br><br>Sivuston optimaalisen toiminnan- ja käyttäjäkokemuksen takaamiseksi. <br><br> <a href="javascript:void(0);" aria-label="View cookie settings" data-cc="c-settings">Cookie Settings</a>',
                    primary_btn: {
                        text: 'Hyväksyn',
                        role: 'accept_all'  //'accept_selected' or 'accept_all'
                    },
                    secondary_btn: {
                        text : 'En hyväksy',
                        role : 'accept_necessary'   //'settings' or 'accept_necessary'
                    }
                },
                settings_modal : {
                    title : '<div>Cookie settings</div><div aria-hidden="true" style="font-size: .8em; font-weight: 200; color: #687278; margin-top: 5px;">Powered by <a tabindex="-1" aria-hidden="true" href="https://github.com/orestbida/cookieconsent/" >cookie-consent</a></div>',
                    save_settings_btn : "Save settings",
                    accept_all_btn : "Accept all",
                    reject_all_btn : "Reject all", // optional, [v.2.5.0 +]
                    close_btn_label: "Close",   
                    blocks : [
                        {
                            title : "Tarkemmat evästeasetukset",
                            description: ''
                        },{
                            title : "Tarpeelliset evästeet",
                            description: 'Sivuston toiminnalta välttämättömät evästeet. Näitä ei voi laittaa pois.',
                            toggle : {
                                value : 'necessary',
                                enabled : true,
                                readonly: true
                            }
                        },{
                            title : "Analytiikan evästeet",
                            description: 'Analytiikkaan. Jotta voimme paremmin ymmärtää sivustoamme.',
                            toggle : {
                                value : 'analytics',
                                enabled : false,
                                readonly: false
                            }
                        },{
                            title : "Markkinoinnin ja lead generation evästeet.",
                            description: 'Markkinointiin liityvät.',
                            toggle : {
                                value : 'marketing',
                                enabled : false,
                                readonly: false
                            }
                        },
                    ]
                }
            }
        }
          

    });
    </script>


<script>
document.body.classList.toggle('c_darkmode');
</script>


<script>
  window.addEventListener('load', function(){
      
      var manager = iframemanager();
      
      // Example with youtube embed
      manager.run({
          currLang: 'en',
          services : {
              youtube : {
                  embedUrl: 'https://www.youtube-nocookie.com/embed/{data-id}',
                  thumbnailUrl: 'https://i3.ytimg.com/vi/{data-id}/hqdefault.jpg',
                  iframe : {
                      allow : 'accelerometer; encrypted-media; gyroscope; picture-in-picture; fullscreen;',
                  },
                  cookie : {
                      name : 'cc_youtube'
                  },
                  languages : {
                      en : {
                          notice: 'This content is hosted by a third party. By showing the external content you accept the <a rel="noreferrer" href="https://www.youtube.com/t/terms" title="Terms and conditions" target="_blank">terms and conditions</a> of youtube.com.',
                          loadBtn: 'Load video',
                          loadAllBtn: 'Don\'t ask again'
                      }
                  }
              }
          }
      });
  });
</script>


  <center>

  {{/* Display copyright license. */}}
  {{ partial "site_footer_license" . }}


  <ul id="menu-horizontal" class="site-footer powered-by">
    <li class="title"><a href="/#posts"><i class="fas fa-newspaper"></i>&nbsp;Uutiset</a></li>
    <li class="title"><a href="/people/"><i class="fas fa-users"></i>&nbsp;Tiimi</a></li>
    <li class="title"><a href="/radio/"><i class="fas fa-music"></i></i>&nbsp;Helluradio</a></li>
    <li class="title"><a href="/event/"><i class="fas fa-calendar-alt"></i>&nbsp;Tapahtumat</a></li>
    <li class="title"><a href="/meista/"><i class="fas fa-info-circle"></i>&nbsp;Meistä</a></li>
    <li class="title"><a href="/#contact"><i class="fas fa-paper-plane"></i>&nbsp;Ota yhteyttä</a></li>
    </ul>



    {{ with site.Copyright }}
    <div class="br"></div>
    <div class="br"></div>
    <p class="powered-by">
      {{ replace . "{year}" now.Year | markdownify }}
    </p>
    {{ end }}


  <p class="powered-by">

    
    
    Sivun tehnyt:
    <a href="https://linkedin.com/in/lamtonylam/" target="_blank" rel="noopener">Tony Lam</a>
    
    
    
    <div class="powered-by"><a href="/legal/" target="_self" rel="noopener">Lakisääteiset dokumentit</a></div>


    <div class="br"></div>
    <img src="https://api.thegreenwebfoundation.org/greencheckimage/opkh.fi?nocache=true/" alt="This website is hosted Green - checked by thegreenwebfoundation.org">
    
    <div class="br"></div>
    <a class="typeform-share button" href="/palaute/" style="display:inline-block;text-decoration:none;background-color:#54B172;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_self" rel="noopener" >Anna palautetta </a>
    </center>

</p>

</footer>