<footer class="site-footer">
  <center>

  {{/* Display copyright license. */}}
  {{ partial "site_footer_license" . }}


  <ul id="menu-horizontal" class="site-footer powered-by">
    <li class="title"><a href="/#posts"><i class="fas fa-newspaper"></i>&nbsp;Uutiset</a></li>
    <li class="title"><a href="/people"><i class="fas fa-users"></i>&nbsp;Tiimi</a></li>
    <li class="title"><a href="/radio"><i class="fas fa-music"></i></i>&nbsp;Helluradio</a></li>
    <li class="title"><a href="/event"><i class="fas fa-calendar-alt"></i>&nbsp;Tapahtumat</a></li>
    <li class="title"><a href="/meista"><i class="fas fa-info-circle"></i>&nbsp;Meistä</a></li>
    <li class="title"><a href="/#contact"><i class="fas fa-paper-plane"></i>&nbsp;Ota yhteyttä</a></li>
    </ul>



    {{ with site.Copyright }}
    <div class="br"></div>
    <div class="br"></div>
    <p class="powered-by">
      {{ replace . "{year}" now.Year | markdownify }}
    </p>
    {{ end }}


  <p class="powered-by">

    
    
    Sivun tehnyt:
    <a href="https://linkedin.com/in/lamtonylam" target="_blank" rel="noopener">Tony Lam</a>
    
    
    
    <div class="powered-by"><a href="/legal" target="_self" rel="noopener">Lakisääteiset dokumentit</a></div>


    <div class="br"></div>
    <img src="https://api.thegreenwebfoundation.org/greencheckimage/opkh.fi?nocache=true" alt="This website is hosted Green - checked by thegreenwebfoundation.org">

    <div class="br"></div>
    <div id="wcb" class="carbonbadge wcb-d"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
    
    <div class="br"></div>
    <a class="typeform-share button" href="/palaute" style="display:inline-block;text-decoration:none;background-color:#54B172;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_self" rel="noopener" >Anna palautetta </a>
    </center>

</p>

</footer>